<div class="row">
  <div class="col-md-8">
    <div class="vertical-center">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let item of topMovies">
          <div class="picsum-img-wrapper">
            <img src="{{ item.image.replace('_V1_UX128_CR0,3,128,176_AL_','_V1_QL75_UX1000_CR0,0,1000,563_').replace('_V1_UX128_CR0,1,128,176_AL_','_V1_QL75_UX1000_CR0,0,1000,563_') }}" alt="Carousel One" />
          </div>
          <div class="carousel-caption">
            <h3>{{ item.title }}</h3>
            <p>{{ item.crew }}</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>

  <div class="col-md-4">
    <div
      class="card mb-3 link"
      style="max-width: 540px"
      *ngFor="let movie of topTVs.items.slice(0, 3)"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="{{ movie.image }}"
            class="img-fluid rounded-start"
            alt="{{ movie.title }}"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ movie.title }}</h5>
            <p class="card-text">
              {{ movie.crew }}
            </p>
            <p class="card-text">
              <a (click)="openModal()" class="btn btn-warning">
                <i class="bi bi-film"></i> Trailer
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="row">
  <h1>Fan favorites</h1>
  <hr />
  <div
    class="col-md-3"
    *ngFor="let favorite of favoriteMovies.items.slice(0, 4)"
    style="padding-bottom: 5px"
  >
    <div class="card link" (click)="showMovieDetails(favorite.id)">
      <img
        src="{{
          favorite.image.replace(
            '_V1_UX128_CR0,3,128,176_AL_',
            '_V1_UX384_CR0,3,384,528_AL_'
          )
        }}"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{ favorite.title }}</h5>
        <p class="card-text">{{ favorite.crew }}</p>
      </div>
      <div class="card-footer text-muted text-center">
        <span style="float: left"
          ><i class="bi bi-calendar"></i> {{ favorite.year }}
        </span>
        <span><i class="bi bi-star"></i> {{ favorite.imDbRating }}/10</span>
        <span style="float: right"
          ><i class="bi bi-trophy"></i> {{ favorite.rank }}</span
        >
      </div>
    </div>
  </div>
</div>
